#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make build doc

override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/tmp

override_dh_installinit:
	dh_installinit --name=daemonshepherd
